.main {     
    margin-top: -35px;
    padding: 0.5rem;
    
    display: flex;
    justify-content: center;
}

.content {
    max-width: 70rem;
    width: 100%;
}

.content form {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.content input[type="text"] {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    color: var(--gray-300);
}

.content input[type="text"]:focus {
    outline: 2px solid var(--purple-dark);
    color: var(--white);
}

.content button {
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    background: var(--blue-dark);
    border: 1px solid transparent;
    font-size: 0.875rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.content button:hover {
    cursor: pointer;
    background: var(--blue);
}

.section {
    margin-top: 4rem;
}

.headerSection {
    font-size: 0.875rem;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 1.5rem;
}

.createdTask {
    color: var(--blue);
}

.finishedTask {
    color: var(--purple);
}

.headerSection span {
    padding: 2px 8px;
    color: var(--gray-200);
    margin-left: 0.5rem;

    font-size: 0.75rem;

    border-radius: 999px;
    background: var(--gray-400);
}

.newTaskForm  button[type=submit]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
} 